[Unit]
Description=Synchronisation periodique des ports lossnear dans ufw

[Timer]
OnBootSec=60
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
